header {
    text-align: center;
    font-size: 2em;
    background-color: black;
    color: white;
    padding : 20px;
    font-family: 'Arial', sans-serif;
    border-top: 1px solid #000000;
    box-sizing: border-box;
    margin: 0;
}


body {
    margin: 0;
}

#start-game, #new-card, #stay {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

#display-score, #display-cards, #display-result, #wins, #losses {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    color: white;
}
#controllers {
    margin-top: 20px;
    text-align: center;
}

