body {
    margin: 0;
}
#homebutton, #hw1button, #opsysbutton {
    background-color: transparent;
    border: 2px solid rgb(255, 178, 238);
    color: rgb(255, 178, 238);
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
header {
    background-color: rgb(120, 1, 1);
    padding: 20px;
    border-top: 1px solid rgb(120, 0, 0);
}
#myheader {
   margin: 0;
   /* padding: 0; */
   box-sizing: border-box;
}
#main-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    color: white;
}
#main-body-paragraph {
    font-size: 18px;
    line-height: 1.2;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#win-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    color: rgb(0, 0, 255);
}
#mac-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}
#linux-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 1px;

}
.sub-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
}
.os-description {
    font-size: 18px;
    line-height: 1.2;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}