body {
    background-image: url("https://wallpaperaccess.com/full/4700205.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    color: black;
    text-align: center;
    font-size: 20px;

}

header {
    text-align: center;
}

h1, h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}

#guessBtn {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    color: white;
    background-color: darkblue;

}

#resetBtn {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    color: white;
    background-color: darkcyan;

}

.betterFont {
    font-size: 60px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}